nav li {
    padding: 0 20px;
}

nav a:after {
    content: '';
    width: 0;
    height: 1px;
    background-color: black;
    margin: auto;
    display: block;
}

nav ul a:hover::after {
    width: 100%;
    transition: width 0.2s linear;
}

body {
    /*background-color: #fdf7f2;*/
    /*height: 100%;*/
    /*width: 100%;*/
    background: rgb(253,247,242);
    background: radial-gradient(circle, rgba(253,247,242,1) 0%, rgba(228,216,202,1) 100%);

}

a {
    text-decoration: none;
    color: black;
}

/*CSS QUESTIONS*/

/*FORMULAIRE CREER QUESTION*/

.form-control {
    box-shadow: 4px 3px 8px 1px #c7b198;
    border: #C7B198 10px;
}

.form-select {
    box-shadow: 4px 3px 8px 1px #c7b198;
    border: #C7B198 4px;

}



/*CALENDRIER*/

.containerTime {

    /*align-items: center;*/
    padding: 0 1rem;
    padding: 3rem 0;
    /*margin-right: 100px;*/
    /*width: 400px;*/
}

.wrapper {
    background: #c7b198;
    padding: 2rem;
    border-radius: 15px;
}

.sessions {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}

.containerTime li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #897561;
    position: relative;
    padding-left: 5px;
    margin-left: 10px;
}

.time {
    color: #2a2839;
    font-weight: 500;
}

.containerTime p {
    color: #4f4f4f;
    line-height: 1.5;
    margin-top: 0.4rem;
}

/*LISTE QUESTIONS*/

.box {
    height: 205px;
}

.lienQuestion h3 {
    font-weight: bold;
}

.lienQuestion:hover {
    color: #fafafa;
}

.nestedDivQuestion {
    height: 195px;

    background: rgb(230,202,171);
    background: radial-gradient(circle, rgba(230,202,171,1) 0%, rgba(199,177,152,1) 100%);
    /*background-color: #C7B198;*/
    box-shadow: 4px 3px 8px 1px #969696;
    /*background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);*/
    /*background-repeat: repeat;*/
    border-radius: 10px;
    padding: 5px;
}

.shadowBox {
    background-color: #C7B198;
    box-shadow: 4px 3px 8px 1px #969696;
    /*background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);*/
    /*background-repeat: repeat;*/
    border-radius: 10px;
    padding: 5px;
}

/*LISTE PROPOSITIONS*/

.boxProposition {
    height: 50px;
}

/*CSS UTILISATEURS*/

#containerFormLogin {
    width: 500px;
}

#signButtons {
    gap: 10px;
}

#accountImg {
    height: 50px;
    width: 50px;
}

#accountImgPage{
    height: 100px;
    width: 100px;
}

#preferenceImg {
    height: 50px;
    width: 50px;
}
