nav li {
    padding: 0 20px;
}

nav a:after {
    content: '';
    width: 0;
    height: 1px;
    background-color: black;
    margin: auto;
    display: block;
}

nav ul a:hover::after {
    width: 100%;
    transition: width 0.2s linear;
}

body {
    background-color: #fdf7f2;
    /*height: 100%;*/
    /*width: 100%;*/
}

a {
    text-decoration: none;
    color: black;
}

/*CSS QUESTIONS*/

/*FORMULAIRE CREER QUESTION*/

#containerFormQuestion {
    width: 500px;
}

#containerButtonReadQuestion {
    width: 60px;
    white-space: nowrap;
}

#containerButtonReadQuestion a:first-child {
    margin: 10px 10px 10px 0;
    padding: 1px;
}

#containerButtonReadQuestion a {
    margin: 10px;
    padding: 1px;
}


#containerButtonReadQuestion li {
    margin: 3px 6px 4px 6px;
}

#updateButton li {
    width: 93px;
}


/*CALENDRIER*/

.containerTime {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    padding: 3rem 0;
    margin-right: 100px;
    width: 400px;
}

.wrapper {
    background: #c7b198;
    padding: 2rem;
    border-radius: 15px;
}

.sessions {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}

.containerTime li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #897561;
    position: relative;
    padding-left: 5px;
    margin-left: 10px;
}

.time {
    color: #2a2839;
    font-weight: 500;
}

.containerTime p {
    color: #4f4f4f;
    line-height: 1.5;
    margin-top: 0.4rem;
}

/*LISTE QUESTIONS*/

.box {
    /*width: 500px;*/
    height: 205px;
    /*box-sizing: border-box;*/
    /*box-shadow: 4px 3px 8px 1px #969696;*/
    /*box-sizing: border-box;*/
    /*border: 5px solid transparent;*/
    /*background-clip:padding-box;*/

}

#lienQuestion h3 {
    padding: 10px 10px 10px 20px;
    font-weight: bold;
}

#lienQuestion p {
    padding: 0 10px 10px 20px;
}

#lienQuestion:hover {
    color: #fafafa;
}

.nestedDivQuestion {
    height: 195px;
    background-color: #C7B198;
    box-shadow: 4px 3px 8px 1px #969696;
    /*background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);*/
    /*background-repeat: repeat;*/
    border-radius:10px;
    padding: 5px;
}

/*CSS UTILISATEURS*/

#containerFormLogin {
    width: 500px;
}

#signButtons {
    gap: 10px;
}

#containerUpdateDeleteUtilisateur {
    width: 60px;
    white-space: nowrap;

}

#containerUpdateDeleteUtilisateur a:first-child {
    margin: 10px 10px 10px 0;
    padding: 1px;
}

#containerUpdateDeleteUtilisateur a {
    margin: 10px;
    padding: 1px;
}


#containerUpdateDeleteUtilisateur li {
    margin: 3px 6px 4px 6px;
}

#containerUtilisateur {

}

#accountImg{
    height: 50px;
    width: 50px;
}