#test {
    margin: auto;
    border: 3px solid #73AD21;
}

#containerQuestion{
    display: block;
}

nav li{
    padding: 0px 20px;


}

body {
    background-color: #ffebef;
    font-family: 'Inter', sans-serif;

}

