nav li{
    padding: 0px 20px;

}

nav a:after {
    content: '';
    width: 0;
    height: 1px;
    background-color:black ;
    margin:auto;
    display: block;
}


nav ul a:hover::after{
    width: 100%;
    transition: width 0.2s linear;
}


body {
    background-color: #fdf7f2;

}

#containerFormulaire{
    width: 500px;
}

a{
    text-decoration: none;
    color: black;
}



#containerUpdateDelete{
    width: 85px;

}

#containerListeQuestion{
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}


.box{
    background-color:#C7B198;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    margin: 20px;
}

.box:hover{
    color: #ffffff;
}

#containerUpdateDelete{
    display: flex;
    flex-direction: column;
    width: 60px;
}

