#test{
    display: block;
    background-color:#C7B198;
}

nav li{
    padding: 0px 20px;

}

nav a:after {
    content: '';
    width: 0;
    height: 1px;
    background-color:black ;
    margin:auto;
    display: block;
}


nav ul a:hover::after{
    width: 100%;
    transition: width 0.2s linear;
}


body {
    background-color: #fdf7f2;

}

#containerFormulaire{
    width: 500px;
}

a{
    text-decoration: none;
    color: black;
}

#containerListeQuestion{
    width: 800px;
}

#containerUpdateDelete{
    width: 85px;
}
